.catalog {
  margin-bottom: 100px;

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
    margin-bottom: 26px;
  }

}

.catalog__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog__filter_items {
  button {
    background: #F0F0F4;
    border-radius: 3px;
    padding: 5px 22px;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
    opacity: 0.7;
    border: none;
    cursor: pointer;
  }

  button + button {
    margin-left: 8px;
  }
}

.catalog__filter_btns button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  + button {
    margin-left: 10px;
  }
}

.catalog__filter_grid {

}

.catalog__filter_line {

}

.catalog__wrap {
  display: flex;
}

.catalog__wrap_aside {
  min-width: 291px;
  margin-right: 10px;
}

.catalog__wrap_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .product__slider_item {
    margin-bottom: 30px;
  }
}

.pagination {
  width: 100%;
  margin-top: 70px;
}

.pagination-list {
  display: flex;
  justify-content: center;

  &__item {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #C4C4C4;
    padding: 5px 14px;
    border: 2px solid transparent;

    &.active {
      border: 2px solid #1C62CD;
      color: #1C62CD;
    }

    + .pagination-list__item {
      margin-left: 11px;
    }

    a {
      display: block;
    }
  }
}

.aside-filter__tabs_wrap {

}

.aside-filter__switcher {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #C4C4C4;
  padding-bottom: 7px;

  + .aside-filter__switcher {
    margin-left: 45px;
  }
}


.aside-filter__switcher.active {
  font-weight: 700;
  color: #2F3035;
  border-bottom: 2px solid #1C62CD;
}

.aside-filter__content {
  display: none;
}

.aside-filter__content.active {
  display: block;
}

.aside-filter__item-drop {
  margin: 40px 0;
}

.aside-filter__item_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #2F3035;
  padding-left: 26px;

  &-drop {
    cursor: pointer;
    position: relative;

    &:before {
      content: '';
      background-image: url('../img/icons/drop-arrow.svg');
      position: absolute;
      transition: all .3s;
      top: 5px;
      left: 0;
      width: 12px;
      height: 8px;
    }
  }

  &-list {
    margin-bottom: 14px;
  }
}

.aside-filter__item_title-drop.active:before {
  content: '';
  background-image: url('../img/icons/drop-arrow.svg');
  transform: rotate(180deg);
}

.aside-filter__item_content {
  display: flex;
  flex-wrap: wrap;
}

.aside-filter__item_content-box {
  width: 50%;
  margin-top: 20px;
}

.aside-filter__label {
  cursor: pointer;
  color: #2F3035;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.jq-checkbox, .jq-radio {
  background: transparent;
  border: 1px solid #C4C4C4;
  width: 14px;
  height: 14px;
  box-shadow: none;
  vertical-align: -2px;
  margin: 0 8px 0 0;
  border-radius: 0;

}

.jq-checkbox.checked .jq-checkbox__div {
  transform: rotate(0);
  border: none;
  width: 8px;
  height: 6px;
  background-image: url('../img/icons/check.svg');
  margin: 4px 0 0 3px;
}

.jq-checkbox.checked, .jq-radio.checked {
  background: #1C62CD;
  border: none;
}

.jq-radio.checked .jq-radio__div {
  width: 0;
  height: 0;
  margin: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

.aside-filter__item_content-box-radio {
  width: auto;

  + .aside-filter__item_content-box-radio {
    margin-left: 19px;
  }
}

.aside-filter__item_content-radio {
  flex-wrap: nowrap;
}

.irs--flat {
  width: 100%;
}

.irs-from, .irs-to {
  display: none;
}

.irs--flat .irs-line {
  height: 1px;
  background-color: #E0E0E0;
}

.irs--flat .irs-bar {
  height: 3px;
  background-color: #1C62CD;
}

.irs--flat .irs-handle > i:first-child {
  background-color: #1C62CD;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  transition: all .3s;

  &:hover {
    background-color: #1C62CD !important;
    transform: scale(1.4);
  }
}

.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {
  background-color: #1C62CD !important;
}
.irs--flat .irs-handle {
  width: auto;
  height: auto;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  top: 50px;
  padding: 0;
  color: #2f3035;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Barlow', sans-serif;
  text-shadow: none;
  background-color: transparent;
  border-radius: 0;
  text-decoration: underline;
  visibility: visible !important;
  padding-left: 26px;
}

.irs-min {
  &:before {
    position: absolute;
    content: 'от';
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #C4C4C4;
    left: 0;

  }
}

.irs-max {
  &:before {
    position: absolute;
    left: 0;
    content: 'до';
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #C4C4C4;
  }
}
