.catalog {
  margin-bottom: 100px;
  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
    margin-bottom: 26px;
  }

}

.catalog__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog__filter_items {
  button {
    background: #F0F0F4;
    border-radius: 3px;
    padding: 5px 22px;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
    opacity: 0.7;
    border: none;
    cursor: pointer;
  }

  button + button {
    margin-left: 8px;
  }
}

.catalog__filter_btns button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  + button {
    margin-left: 10px;
  }
}

.catalog__filter_grid {

}

.catalog__filter_line {

}

.catalog__wrap {
  display: flex;
}

.catalog__wrap_aside {
  min-width: 291px;
  margin-right: 10px;
}

.catalog__wrap_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .product__slider_item {
    margin-bottom: 30px;
  }
}
.pagination {
  width: 100%;
  margin-top: 70px;
}

.pagination-list {
  display: flex;
  justify-content: center;
  &__item {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #C4C4C4;
    padding: 5px 14px;
    border: 2px solid transparent;

    &.active {
      border: 2px solid #1C62CD;
      color: #1C62CD;
    }
    + .pagination-list__item {
      margin-left: 11px;
    }

    a {
      display: block;
    }
  }
}
