.categories {

}

.categories__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories__item {
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 3px;
  width: 370px;
  display: flex;
  padding: 20px 20px 16px;
  margin-bottom: 30px;
  justify-content: space-between;
  transition: all .2s;

  &_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:hover {
    background: #FFFFFF;
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-radius: 3px;
    border: 1px solid transparent;
  }

  &:hover .categories__item_title {
    color: #1C62CD;
  }
}

.categories__item_title {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #2F3035;
  transition: all .2s;
}

.categories__item_link {
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    background-image: url('../img/icons/link-arr.svg');
    top: 5px;
    left: 70px;
    width: 6px;
    height: 9px;
  }
}

.categories__item_img {
  text-align: center;
  width: 50%;
  img {
    max-width: 100%;
  }
}
