.footer {
  background: #F0F0F4;
}

.footer__top {
  padding-top: 43px;
}

.footer__top_wrap {
  display: flex;
  justify-content: space-between;
}

.footer__top_item {
  width: 200px;
  &-mailing {
    width: 295px;
    margin-right: 50px;
  }
  &-socials {
    width: 250px;
  }
}

.footer__top_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #2F3035;
}

.footer__top_form {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.footer__top_input {
  background: #FFFFFF;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 17px;
  border: none;
  color: #C4C4C4;
}

.footer__top_button {
  padding: 10px 26px;
  border: none;
  background-color: #1C62CD;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.12em;

}

.footer__top_li {
  font-size: 14px;
  line-height: 17px;
  width: 200px;
}

.footer__bottom {
  padding: 46px 0 22px;
  display: flex;
  justify-content: center;
}

.footer__bottom_link {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #48494D;
}

.footer__bottom_link + .footer__bottom_link {
  margin-left: 81px;
}

.footer-socials {
  display: flex;
  height: 100%;
  align-items: center;
}

.footer-socials__item + .footer-socials__item {
  margin-left: 30px;
}
