.product-cart {
  margin-bottom: 80px;
  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
  }

  &__code {
    margin-top: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #2F3035;
    opacity: 0.6;
  }
  &__icon {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 29px;
  }

  &__list {
    margin-bottom: 20px;
  }
}

.product-cart__wrap {
  display: flex;
  justify-content: space-between;
}

.product-cart__media {
  max-width: 500px;
  text-align: center;
  padding-top: 64px;
  position: relative;
  &.product-item-sale:before {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    padding: 13px 24px;
    border-radius: 3px;
  }
}

.product-cart__info {
  max-width: 570px;
}
.product-cart__buttons {
  display: flex;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 50px;
}


.product-cart__price {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #2F3035;
  &-old {
    font-size: 30px;
    line-height: 44px;
    opacity: 0.6;
    text-decoration: line-through;
  }
}

.product-cart__link {
  font-size: 15px;
  line-height: 18px;
  color: #1C62CD;
  border-bottom: 1px solid #1C62CD;
}

.product-cart__tab-switcher {
  font-size: 20px;
  line-height: 24px;
  color: #2F3035;
  opacity: 0.6;
  padding-bottom: 5px;
  margin-bottom: 5px;
  &.active {
    color: #2F3035;
    font-weight: 700;
    border-bottom: 2px solid #1C62CD;
    opacity: 1;
  }

  + .product-cart__tab-switcher {
    margin-left: 34px;
  }
}

.product-cart__tab {
  display: none;
  &.active {
    display: block;
  }
}

.product-cart__icon-like {
  height: 24px;
}

.product-cart__icon-compare {
  height: 28px;
}


.product-cart__item_info {
  padding: 15px 0 6px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(47, 48, 53, 0.1);
  font-size: 20px;
  line-height: 24px;
  color: #2F3035;
  max-width: 436px;
}

.product-cart__more {
  font-size: 14px;
  line-height: 17px;
  color: #1C62CD;
  cursor: pointer;
  border: none;
  padding: 0;
  border-bottom: 1px solid #1C62CD;
  background-color: transparent;
  margin-bottom: 45px;
}

.buy-btn {
  cursor: pointer;
  background-color: #1C62CD;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 16px 53px;
  border-radius: 3px;
  transition: all .3s;
  &:hover {
    opacity: .8;
  }
}


.product-cart__item_left {
  padding-right: 15px;
}

.product-cart__item_right {
  width: 125px;
}
