.products__title {
  font-family: 'Barlow', sans-serif;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2F3035;
}
.products-tab__wrap {
  margin-bottom: 25px;
}

.products-tab {
  margin-right: 50px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #2F3035;
  &.active {
    border-bottom: 2px solid #1C62CD;
  }
}

.product-tab__content {
  display: none;
}

.product-tab__content.active {
  display: block;
}


.product-slider__slider_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.product-slider__slider_btn-left {
  left: -40px;
}

.product-slider__slider_btn-right {
  right: -20px;
}

.slick-slide img {
  display: inline;
}

.product__slider_item {
  width: 271px !important;
  transition: all .3s;
  position: relative;
}

.product-item {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  text-align: center;
  padding: 52px 20px 31px;
  z-index: 0;
  width: 271px;
  transition: all .3s;
  min-height: 403px;

  &:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    .product-item__hover-text {
      opacity: 1;
    }
    .product-item__title {
      color: #1C62CD;
    }

    .product-item__price {
      color: #1C62CD;
    }

    .product-item__notify-text {
      color: #2f3035;
    }

  }
}

.product-item__title {
  transition: all .3s;
  padding-top: 14px;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #2F3035;
}

.product-item__price {
  transition: all .3s;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #2F3035;
}

.product-item__favorite {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
  z-index: 2;
  height: 22px;
  outline: none;


  &:before {
    position: absolute;
    content: '';
    width: 24px;
    height: 22px;
    top: 0px;
    left: 0px;
    background-image: url('../img/product-like.svg');
  }


}

.active.product-item__favorite:before {
    background-image: url('../img/product-like-active.svg');
}

.product-item__basket {
  position: absolute;
  width: 60px;
  height: 40px;
  background: #1C62CD;
  border: none;
  bottom: 0;
  right: 0;
  outline: none;
  cursor: pointer;
  border-radius: 10px 0px 0px 0px;
  padding: 10px 14px;
}

.product-item__hover-text {
  padding: 18px 17px 21px;
  background-color: rgba(255,255,255, .9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: absolute;
  display: inline-block;
  top: 30%;
  opacity: 0;
  transition: all .3s;
}

.product-item-sale:before {
  content: 'SALE';
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 15px 8px 15px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #1C62CD;
}

.product-item__notify-text {
  display: none;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
}

.product-item__notify-link {
  display: none;
}

.product__slider_item.product__slider_item-not-available .product-item__price {
  display: none;
}

.product__slider_item.product__slider_item-not-available .product-item__basket {
  display: none;
}

.product__slider_item.product__slider_item-not-available .product-item__notify-text {
  display: block;
}

.product__slider_item.product__slider_item-not-available .product-item__title {
  padding-bottom: 10px;
}

.product__slider_item.product__slider_item-not-available .product-item__notify-link {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #1C62CD;

  span {
    border-bottom: 1px solid #1C62CD;
  }
}

.product__showmore {
  background: #F0F0F4;
  text-transform: uppercase;
  padding: 17px 43px 15px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  color: #2F3035;
  &_wrap {
    text-align: center;

  }
}

.products__tabs_content {
  margin-bottom: 35px;
}

.product-item__img {
  max-width: 100%;
}
